empymod-plain==2.2.1.post1
matplotlib==3.5.2
scooby

bqplot
ipycanvas>=0.9.1
ipyevents>=2.0.1
ipyleaflet==0.16.0
ipympl==0.9.3
ipywidgets==7.7.1
jupyterlab~=3.5.1
jupyterlab-drawio
jupyterlab-fasta>=3,<4
jupyterlab-geojson>=3,<4
jupyterlab_miami_nights
jupyterlite==0.1.0b19
plotly>=5,<6
theme-darcula
